## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [19]:
city = ["Buenos Aires" , "Londres" , "Paris" , "Tokio" , "Madrid" , "Amsterdam" , "Hong Kong"]
print (city)

['Buenos Aires', 'Londres', 'Paris', 'Tokio', 'Madrid', 'Amsterdam', 'Hong Kong']

2) Imprimir por pantalla el segundo elemento de la lista

In [6]:
print ("la segunda ciudad es" ,city[1])

la segunda ciudad es londres

3) Imprimir por pantalla del segundo al cuarto elemento

In [7]:
print(city[1:4])

['londres', 'paris', 'tokio']

4) Visualizar el tipo de dato de la lista

In [8]:
print(type(city))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [9]:
print(city[2:])

['paris', 'tokio', 'madrid', 'Amsterdam', 'hong kong']

6) Visualizar los primeros 4 elementos de la lista

In [10]:
print(city[:4])

['buenos aires', 'londres', 'paris', 'tokio']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [18]:
city.append("Chigago")

In [17]:
city.append("Tokio")

In [14]:
print(city)

['buenos aires', 'londres', 'paris', 'tokio', 'madrid', 'Amsterdam', 'hong kong', 'chigago', 'tokio']

8) Agregar otra ciudad, pero en la cuarta posición

In [15]:
city.insert(3, "Barcelona")

In [16]:
print(city)

['buenos aires', 'londres', 'paris', 'Barcelona', 'tokio', 'madrid', 'Amsterdam', 'hong kong', 'chigago', 'tokio']

9) Concatenar otra lista a la ya creada

In [20]:
city.extend(["Pekin" , "Melbourne", "Osaka","Toronto"])
print(city)

['Buenos Aires', 'Londres', 'Paris', 'Tokio', 'Madrid', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka', 'Toronto']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [21]:
print(city.index("Tokio"))

3

11) ¿Qué pasa si se busca un elemento que no existe?

In [22]:
print(city.index("San Francisco"))

ValueError: 'San Francisco' is not in list

12) Eliminar un elemento de la lista

In [27]:
city.remove("Buenos Aires")

In [28]:
print(city)

['Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka', 'Toronto']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [29]:
city.remove("San Francisco")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [30]:
last = city.pop()
print(last)

Toronto

15) Mostrar la lista multiplicada por 4

In [31]:
print( city * 4)

['Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka', 'Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka', 'Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka', 'Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [32]:
tupla =(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tupla))
print(tupla)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [33]:
print(tupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [35]:
print(20 in tupla)
print(30 in tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [36]:
elemt= "Paris"
if (not (elemt in city)):
    city.append(elemt)
    print("se agrega" , elemt)
else:
    print("ciudad" , elemt ,"ya existe")

ciudad Paris ya existe

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [37]:
print(tupla.count(10))
print(city.count("Tokio"))

1
1

21) Convertir la tupla en una lista

In [38]:
city2 = list(tupla)
print(city2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [39]:
v1, v2, v3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = tupla
print(v1)
print(v2)
print(v3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [40]:
dicci = {"ciudad" : city , "pais":city2 ,"continente":[city + city2] }

In [41]:
print(dicci)

{'ciudad': ['Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka'], 'pais': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'continente': [['Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]}

24) Imprimir las claves del diccionario

In [42]:
print(dicci.keys())

dict_keys(['ciudad', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [43]:
print(dicci["ciudad"])

['Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka']

In [44]:
print(dicci["continente"])

[['Londres', 'Paris', 'Tokio', 'Amsterdam', 'Hong Kong', 'Pekin', 'Melbourne', 'Osaka', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]

In [45]:
print(dicci["pais"])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]